VITE_SUPABASE_URL=https://amafmitmjamoixxlsrow.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFtYWZtaXRtamFtb2l4eGxzcm93Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1Mjc0MjEsImV4cCI6MjA5NjEwMzQyMX0.j6OWnHtdcrE7LssopPvKCMVoBNfhe70buYn1ImEX9OQ
